.jumbotron {
  margin-top: -216px;
  padding: 250px 0px 100px;
}

.navbar {
  background: rgba(54, 54, 54, 0.5) !important;
}

.sampul{
  width: 70px;
}

.table > tbody > tr > * {
  vertical-align: middle;
}